<link rel="import" href="../lib/polymer/polymer.html" />
<script src="https://checkout.stripe.com/checkout.js"></script>
<link rel="import" href="../lib/paper-input/paper-input.html" />
<!--> TODO: Report errors via Polymer Toaster or similar</-->

<dom-module id="crowdify-coin-checkout">

    <template>
        <style>
             paper-button {
                 background-color: #34A020;
                 font-size: 1.2em;
                 padding: 1em;
                 margin-top: 1em;
                 color: white;
             }
             .step {
                 margin-top: 1.2em;
             }
             .buy {
                 margin-top: 1em;
             }
             h3 {
                 font-weight: bold;
             }
        </style>
        <div id="checkout-step-1" class="step">
            <h3>Step 1: Enter your Twitter Username</h3>
            <i>Make sure you type this name correctly, or someone else may be credited your coins.</i>
            <paper-input id="twitterHandle" label="Twitter Username" value="{{twitterHandle}}"></paper-input>         
        </div>

        <div class="step">
            <h3>Step 2: Enter the number of coins you wish to buy</h3>
            <paper-input id="coinQty" label="Amount" auto-validate allowed-pattern="[0-9]" value="{{qty}}"><div suffix>at $USD {{price}} per coin</div></paper-input>
        </div>
        
        <div class="step">
            <h3>Step 3: Review your order</h3>
            <template is="dom-if" if="{{twitterHandle}}">
                <div class="orderDetail twitterHandle">To be credited to <a href="http://twitter.com/{{twitterHandle}}" target="_blank">@{{twitterHandle}}</a></div>
                <div class="orderDetail qty">{{qty}} Crowdify Coins</div>
                <div class="orderDetail amount">{{amountStr}}</div>
                <div class="orderDetail btcAmount">&#x0E3F{{btcAmountStr}} (at ${{_btcRate}}/BTC)</div>
                
            </template>
         
        </div>

        
        <div class="step"><h3>Step 4: Pay by card or Bitcoin</h3>
            <br />
            <paper-button class="buy" on-click="">Buy {{qty}} coins</paper-button>
            
            <iron-ajax
                id="ajaxpost"
                method="POST"
                handle-as="json"
                content-type="application/json"
                on-response="_handleResponse"
                debounce-duration="300">
            </iron-ajax>
            
           <iron-ajax
                id="btcRateAjax"
                method="GET"
                url="///{{host}}/btcrate"
                handle-as="json"
                content-type="application/json"
                on-response="_handleBtcRateResponse"
                debounce-duration="300">
            </iron-ajax>
            
        </div>

    </template>

</dom-module>

<script>
/*global Polymer*/

    Polymer({
        is: "crowdify-coin-checkout",
        properties: {
            host: {
                type: String,
                value: "45.79.83.93"
            },
            price: {
                type: Number,
                value: 0
            },
            priceStr: {
                type: String
            },
            qty: {
                type: Number,
                value: 100,
                notify: true
            },
            amount: {
                type: Number,
                value: 0
            },
            amountStr: String,
            btcAmountStr: String,
            twitterHandle: {
                type: String
            },
            redirectUrl: {
                type: String,
                value: "/?page_id=279"
            },
            _btcRate: {
                type: Number,
                value: 0.0
            }

        },
        listeners: {
            'qty-changed': 'onQtyChange'
        },
        ready: function() {
            this._updateBtcRate();
            window.addEventListener('crowdify-price', this.onCrowdifyPrice.bind(this));
            window.setInterval(this._updateBtcRate.bind(this), 30000);
        },
        _receiveToken: function(token) {

        },
        _handleResponse: function(e) {
            window.location = this.redirectUrl;
        },
        _handleBtcRateResponse: function(e) {
           this._btcRate = (e.detail.response).toFixed(4);
        },
        _updateBtcRate: function() {
            this.$.btcRateAjax.generateRequest();
        },

        onQtyChange: function(val) {
            this.calcAmount();
        },
        onCrowdifyPrice: function(e) {
            this.price = e.detail/100;
            this.priceStr = currency(this.price);
            this.calcAmount();
        },
        calcAmount: function() {
            this.amount = this.price * this.qty;
            this.amountStr = currency(this.amount);
            this.btcAmountStr = ((this.price/this._btcRate) * this.qty).toFixed(4);
        }

    });
    function currency(val) {
        return "$USD " + val.toFixed(2);
    }
</script>