<link rel="import" href="../lib/polymer/polymer.html" />
<link rel="import" href="../lib/iron-ajax/iron-ajax.html" />

<dom-module id="crowdify-sale-status">

    <template>
        <style>
            .number{
              font-size: 5em;
            }
            .message-text{
              font-size: 1.5em; 
              font-style: italic;
            }
            .digit-label {
                font-size: 1em;
            }
            .inline {
              display: inline-block;
              text-align: center;
              margin: 1px 10px 6px 10px;
            }
            .numeral {
                padding-right: 0.5em;
            }
        </style>

        <iron-ajax
            id="ajax"
            method="GET"
            handle-as="json"
            content-type="application/json"
            on-response="_handleResponse"
            url="///{{host}}/crowdsale"
            debounce-duration="300">
        </iron-ajax>
        
        <div id="crowdifySaleStatus" class="crowdifySaleStatus">
            <div class="crowdifyCurrentPrice">
                <h5>Current price</h5> 
                <h3 id="currentPriceValue">{{currentPriceStr}}</h3>
            </div>
            <div class="crowdifyTimeRemaining">
                <div class="message-text">Time until price increases to {{priceAtNextStageStr}}</div>
                <br />
                <span class="numeral inline"><span class="number">{{daysRemaining}}</span><br><span class="digit-label">Days</span></span>
                <span class="numeral inline"><span class="number">{{hoursRemaining}}</span><br><span class="digit-label">Hours</span></span>
                <span class="numeral inline"><span class="number">{{minutesRemaining}}</span><br><span class="digit-label">Minutes</span></span>
                <span class="numeral inline"><span class="number">{{secondsRemainingStr}}</span><br><span class="digit-label">Seconds</span></span>
            </div>
            
        </div>
        
    </template>

</dom-module>

<script>
/*global Polymer*/

    Polymer({
        is: "crowdify-sale-status",
        properties: {
            host: {
                type: String,
                value: "45.79.83.93"
            },

            currentPrice: {
                type: Number,
                value: 0
            },
            currentPriceStr: {
                type: String
            },
            priceAtNextStage: {
                type: Number,
                value: 0
            },
            priceAtNextStageStr: {
                type: String
            },
            coinsSold: {
                type: Number,
                value: 0
            },
            investorCount: {
                type: Number,
                value: 0
            },
            daysRemaining: {
                type: Number
            },
            minutesRemaining: {
                type: Number
            },
            secondsRemaining: {
                type: Number
            },
            secondsRemainingStr: String
        }
        ,
        listeners: {

        },
        ready: function()
        {
            this.timerInterval = null;
            this.updateInterval = null;
            this._update();
        },
        _update: function() {
           this.$.ajax.generateRequest();
       },
        _showWaiting: function() {
            
        },
        _updateTimer: function() {
            var timeBreakDown = dateBreakdown(this.timeRemaining/1000);
            
            this.daysRemaining = timeBreakDown.days;
            this.hoursRemaining = timeBreakDown.hours;
            this.minutesRemaining = twoDigits(timeBreakDown.minutes);
            this.secondsRemaining = timeBreakDown.seconds;
            this.secondsRemainingStr = twoDigits(this.secondsRemaining);
            
            this.timeRemaining -= 1000;
            this._broadcastPrice();
        },
        
        _broadcastPrice: function() {
            var event = new CustomEvent('crowdify-price', { detail: this.currentPrice });
            window.dispatchEvent(event);
        },
        
        _handleResponse: function(e) {
            this.data = e.detail.response;
            if (typeof(this.data.nextStageStartTime) !== "undefined") {
                this.investorCount = this.data.investorCount;
                this.coinsSold = this.data.totalCoinsSold;
                this.timeRemaining = this.data.nextStageStartTime - new Date().getTime();
                this.currentPrice = this.data.currentPrice;
                this.currentPriceStr = currency(this.currentPrice/100);
                this.priceAtNextStage = this.data.priceAtNextStage;
                this.priceAtNextStageStr = currency(this.priceAtNextStage/100);
                this._updateTimer();
                if (!this.timerInterval) {
                    this.timerInterval = window.setInterval(this._updateTimer.bind(this), 1000);
                }
                if (!this.updateInterval) {
                    this.updateInterval =  window.setInterval(this._update.bind(this), 60000);
                }
                /*global Event*/
                this._broadcastPrice();
            }
        }
    });
    
    function currency(val) {
        return "$USD " + val.toFixed(2);
    }
    
    function twoDigits(val) {
        return ((val<10?"0":"") + val.toString());
    }

    function dateBreakdown(secs) {
        
        var result = {
            totalSeconds: secs
        };
        
        // calculate (and subtract) whole days
        result.days = Math.floor(secs / 86400);
        secs -= result.days * 86400;
        
        // calculate (and subtract) whole hours
        result.hours = Math.floor(secs / 3600) % 24;
        secs -= result.hours * 3600;
        
        // calculate (and subtract) whole minutes
        result.minutes = Math.floor(secs / 60) % 60;
        secs -= result.minutes * 60;
        
        // what's left is seconds
        result.seconds = Math.round(secs);
        
        return result;
    }

</script>