<link rel="import" href="../lib/polymer/polymer.html" />
<link rel="import" href="../lib/iron-ajax/iron-ajax.html" />
<link rel="import" href="../lib/paper-input/paper-input.html" />
<link rel="import" href="../lib/paper-button/paper-button.html" />
<link rel="import" href="../lib/paper-material/paper-material.html" />

<dom-module id="crowdify-balance">

    <template>
        <style>
            paper-material {
                /*display: inline-block;*/
                text-align: center;
                width: 100px;
                padding: 0.5em;
                font-size: 2em;
                
            }
            paper-button {
                background: #E0E0E0;
                margin-bottom: 0.5em;
            }
            
        </style>

        <iron-ajax
            id="ajax"
            method="GET"
            handle-as="json"
            content-type="application/json"
            on-response="_handleResponse"
            debounce-duration="300">
        </iron-ajax>
        
        <paper-input id="twitterHandle" label="Twitter handle" on-keypress="_onChange"></paper-input>
        <paper-button id="btn" disabled on-click="_getBalance">Check Crowdify balance</paper-button>
        <paper-material id="balanceReadout" elevation="0">{{balance}}</paper-material>
        
    </template>

</dom-module>

<script>
/*global Polymer*/

    Polymer({
        is: "crowdify-balance",
        properties: {
            host: {
                type: String,
                value: "45.79.83.93"
            },
            port: {
                type: String,
                value: "8080"
            },
            balance: {
                type: String
            }
        }
        ,
        listeners: {

        },
        ready: function()
        {

        },
        _getBalance: function() {
            var twitterHandle = this.$.twitterHandle.value;
            if (twitterHandle && twitterHandle.length > 3) {
                this.$.balanceReadout.elevation = 0;
                this.$.ajax.url = "http://" + this.host + "/crowdsale/" + twitterHandle.toLowerCase();
                this.$.ajax.generateRequest();
                this.interval = window.setInterval(this._showWaiting.bind(this), 50);               
            }

        },
        _showWaiting: function() {
            this.balance = Math.floor(Math.random() * 99999) ; 
        },
        _handleResponse: function(e) {
            clearTimeout(this.interval);
            this.balance = e.detail.response.numberOfCoins;
            if (this.balance > 0) {
                this.$.balanceReadout.elevation = 2;
            }
        },
        _onChange: function(e) {
            this.$.btn.disabled = !(this.$.twitterHandle.value && this.$.twitterHandle.value.length);
            if (!this.$.btn.disabled) console.log("Button enabled");
        }
    });
</script>